.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar-center input {
  padding: 8px 15px;
  width: 50%;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right a {
  margin-left: 15px;
}