.footer {
    background-color: #222;
    color:#f07511;
    width: 90%;
    border-radius: 10px 10px 0 0;
    margin: auto;
    padding: .9rem 0;
    /* max-height: 50px; */
    /* border-top: 1px solid #ddd; */
    text-align: center;
    font-size: 1rem; 
  }
  .footer-content Link
  {
    text-decoration: none;
    color:#f07511;

  }
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .footer p {
    margin: 0;
    font-weight: bold;
  }
  
  .footer-links {
    margin-top: 10px;
    display: flex;
    gap: 50px;
  
  }
  
  .footer-links a {
    color:#f07511;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  